* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 8%;
    background-color: cornflowerblue;
}

header > img {
    margin: 1vh 0 0 1vw;
}

#wrapper {
    display: flex;
    height: 92%;
}

nav {
    font-family: "Dosis", sans-serif;
    background-color: cornflowerblue;
    width: 10%;
    text-align: center;
    font-size: 2vh;
}

nav > ul {
    padding: 5% 0 0 0;
    list-style-type: none;
}

nav > ul li {
    margin: 5% 0 0 0;
}

nav > ul li a {
    color: black;
    text-decoration: none;
}

nav > ul li a:hover {
    cursor: pointer;
    transition: 0.3s;
    color: orange;
}

main {
    margin: 2% 0 0 2%;
    width: 85%;
    font-family: "Calibri Light", sans-serif;
}

main h2 {
    font-size: 3.5vh;
    text-decoration: none;
}

main h3 {
    font-size: 3vh;
    color: darkgrey;
}

#page-description {
    margin: 2% 0 0 0;
    font-size: 2vh;
}

#account-management-table {
    margin: 2.5% 0 0 0;
    overflow: scroll;
    width: 60vw;
    max-height: 30vh;
}

#account-management-table tbody tr:nth-child(even){
    background-color: #bbbbbb;
}

#account-management-search-wrapper {
    width: 50vw;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2.5% 0 0 0;
    grid-column-gap: 2vw;
}

#account-management-table th {
    font-size: 2.25vh;
}

#account-management-table td {
    font-size: 1.75vh;
}

.text-input {
    padding: 2%;
    border: 0.02vw solid black;
}

.text-input:target {
    border: #1177cc 0.03vw solid;
}

#account-management-search-parameter-list {
    padding: 2%;
}

#dashboard-selection-main {
    margin: 4vh 0 0 0;
}

#dashboard-selection-flex-container {
    gap: 10vw;
    justify-content: center;
}

.dashboard-selection-card-body {
    display: flex;
    margin: 2vh 0 0 0;
    justify-content: center;
}

#dashboard-selection-error {
    margin: 3vh 0 0 0;
}

.dashboard-change-view {
    margin: 3vh 0 0 0;
}

.account-management-table-ids:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.4s opacity;
}

#profile-employee-information {
    margin: 5vh 0 0 0;
}